.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* //custom font */
@font-face {
  font-family: "Balloons";
  src: url("./Fonts/PWBalloon.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "GeneralText";
  src: url("./Fonts/LEMONMILK-Bold.otf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "RetroText";
  src: url("./Fonts/RetroTypo.ttf") format("truetype");
  font-style: normal;
}

.Balloon-Font {
  font-family: "Balloons";
  font-size: 3rem;
  padding: 0.5rem;
}
.Lemon-Font {
  font-family: "GeneralText";
  font-size: 2.5rem;
  padding: 0.5rem;
}
.Lemon-Font2 {
  font-family: "GeneralText";
  font-size: 1.25rem;
  padding: 0.5rem;
}
.Retro-Font {
  font-family: "RetroText";
}

/* Cta Button */
button {
  /* Variables */
  --button_radius: 1.75em;
  --button_color: #f4ecd6;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 4px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.01s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.63em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
